.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 70px;
    margin-top: 10px;
}
@media only screen and (max-width: 768px) {
    .card-grid{
        display: grid;
        grid-template-columns: 1fr;
    }
}